<!--CONTENEDOR PERFIL-->
<section>
    <div class="row">
      <div class="contenedor-fluid text-center justify-content">
        <div class="col-8">
          <img src="../assets/IMG/perfil.jpeg" alt="foto de perfil" class="rounded-circle img-fluid" id="imagen_perfil">
        </div>
        <div class="col-lg-4">
          <h1>Full Stack Developer Jr.</h1>
        </div>
      </div>
    </div>
  </section>

  <!--ACERCA DE-->
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="card text-bg-light mb-3">
          <div class="card-header">ACERCA DE MI</div>
          <div class="card-body">
            <h5 class="card-title">¡HOLA!</h5>
            <p class="card-text">Soy de la Provincia de Santa Fe. Actualmente, resido en la Provincia de Cordoba. Soy
              Experta en Gestion de RR:HH, con experiencia en el sector administrativo. Me considero una persona
              autodidacta, la principal virtud que me llevo a adentrarme en el mundo de la Programacion. Estoy
              predispuesta a nuevos conocimientos y anhelo poder alcanzar los conocimientos necesarios para dedicarme de
              lleno a la Programacion FullStack.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
