<section class="p-4">
    <div class="skills">
      <h3>HARD & SOFT SKILLS</h3>
    </div>
    <div class="row">
      <div class="col-12">
        <ul>
          <li>
            <h2>Frontend</h2>

            <!-- HTML -->
            <p style="width:80%" data-value="80">HTML5</p>
            <progress max="100" value="80" class="html5">
              <div class="progress-bar">
                <span style="width: 80%">80%</span>
              </div>
            </progress>

            <!-- CSS -->
            <p style="width:60%" data-value="60">CSS</p>
            <progress max="100" value="60" class="css">
              <div class="progress-bar">
                <span style="width: 60%">60%</span>
              </div>
            </progress>

            <!-- BOOTSTRAP -->
            <p style="width:60%" data-value="60">Bootstrap</p>
            <progress max="100" value="60" class="bootstrap">
              <div class="progress-bar">
                <span style="width: 60%">50%</span>
              </div>
            </progress>

            <!-- JAVASCRIPT -->
            <p style="width:40%" data-value="40">JavaScript</p>
            <progress max="100" value="40" class="javascript">
              <div class="progress-bar">
                <span style="width: 40%">40%</span>
              </div>
            </progress>

          </li>
          <li>
            <h2>Backend</h2>

            <!-- Python -->
            <p style="width:30%" data-value="30">Python</p>
            <progress max="100" value="30" class="python">
              <div class="progress-bar">
                <span style="width: 30%">45%</span>
              </div>
            </progress>

            <!-- PHP -->
            <p style="width:30%" data-value="30">PHP</p>
            <progress max="100" value="65" class="php">
              <div class="progress-bar">
                <span style="width: 30%">30%</span>
              </div>
            </progress>

            <!-- Node.js -->
            <p style="width:35%" data-value="35">Node.js</p>
            <progress max="100" value="35" class="node-js">
              <div class="progress-bar">
                <span style="width: 35%">35%</span>
              </div>
            </progress>
          </li>
          <li>
            <h2>Otros</h2>

            <!-- Angular -->
            <p style="width:50%" data-value="50">Angular</p>
            <progress max="100" value="50" class="angular">
              <div class="progress-bar">
                <span style="width: 35%">50%</span>
              </div>
            </progress>

            <!-- GitHub -->
            <p style="width:50%" data-value="50">GitHub</p>
            <progress max="100" value="50" class="github">
              <div class="progress-bar">
                <span style="width: 50%">50%</span>
              </div>
            </progress>

          </li>
        </ul>
      </div>
    </div>
</section>
