<section>
    <div class="experiencia">
      <h3>EXPERIENCIAS</h3>
    </div>
    <div class="row">
      <div class="col-10">

        <!--Entrada-->
        <div class="d-flex justify-content-between mb-2 mt-3">
          <div class="d-flex justify-content">
            <div class="exp1"></div>
            <img src="../assets/IMG/lacocinademama.jpg" class="img-fluid" alt="..." style="width: 60px; height: 60px"
              class="align-self-start" />
            <div class="mx-3">
            <h3>LA COCINA DE MAMA</h3>
            <p>(Negocio de Elaboracion y Venta de Comidas)</p>
            <h5>Descripcion</h5>
            <h5>Duracion, 4 Años. Me encargaba de la Atencion al cliente, telefonica y de mostrador. Lista y Compras
              diarias. Pago a Proveedores y empleados. Caja, apertura y cierre. Rendicion de Gastos. Metodo de
              Facturacion, servicio de Afip. Entre otras labores. Sistema de venta (StockBase) Carga de datos, menu,
              precios, aumentos, se manejaba todo con sistema de impresion por comandera, cierres mensuales y anuales.
            </h5>
          </div>
        </div>
        </div>


        <!--Entrada-->
        <div class="d-flex justify-content-between mb-2 mt-3">
          <div class="d-flex justify-content">
            <div class="exp2"></div>
            <img src="../assets/IMG/flechabus1.jpeg" class="img-fluid" alt="..." style="width: 60px; height: 60px"
              class="align-self-start" />
            <div class="mx-3">
            <h3>FLECHA BUS</h3>
            <p>(Auxiliar de Abordo)</p>
            <h5>Descripcion</h5>
            <h5>Duracion, 8 meses. me encargaba de la preparacion del coche segun servicio y destino. Atencion de pasajeros en viajes de larga distancia. Servicio de abordo. Origen Resistencia/Chaco hacia destinos como Formosa, Córdoba, Buenos Aires, La Plata, entre otros.
            </h5>
          </div>
        </div>
        </div>

        <!--Entrada-->
        <div class="d-flex justify-content-between mb-2 mt-3">
          <div class="d-flex justify-content">
            <div class="exp3"></div>
            <img src="../assets/IMG/atentochaco.jpg" class="img-fluid" alt="..." style="width: 60px; height: 60px"
              class="align-self-start" />
            <div class="mx-3">
            <h3>ATENTO CHACO</h3>
            <p>(Call Center)</p>
            <h5>Descripcion</h5>
            <h5>Duracion, 6 meses. Me encargaba de la Atencion al cliente, para la Empresa Movistar, atencion
              telefonica para brindar atencion a clientes de la compañia. Solucion de problemas con el servicio,
              facturacion, pagos,reclamos,altas y bajas,etc.
            </h5>
          </div>
        </div>
      </div>
    </div>
    </div>
</section>
