<section>
    <div class="proyectos">
      <h3>PROYECTOS</h3>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card-group text-center">
          <div class="card">
            <div class="border-primary">
              <img src="../assets/IMG/LaCocinadeMama.png" class="w-75" alt="lacocinademama">
              <div class="card-body">
                <h5 class="card-title">Proyecto 1</h5>
                <p class="card-text">Página realizada para una rotisería en la que trabajé. Hecha para práctica en Html y Css con Bootstrap.</p>
                <a href="https://github.com/alemariaemilia/La-Cocina-de-Mama-.git" target="_blank" class="btn btn-outline-warning btn-sm">¿Te lo Muestro?</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="border-secondary">
              <img src="../assets/IMG/argprog.jpg" class="w-50" alt="apptask-list">
              <div class="card-body">
                <h5 class="card-title">Proyecto 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas hic
                  velit,
                  repellendus, unde commodi, molestiae ex amet corrupti voluptates voluptatem ipsa vitae deleniti
                  cum facere
                  culpa quia at. Minima!</p>
                <a href="http://..." target="_blank" class="btn btn-outline-info btn-sm">¿Quieres Conocerme?</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="border-danger">
              <img src="../assets/IMG/argprog.jpg" class="w-50" alt="otro">
              <div class="card-body">
                <h5 class="card-title">Proyecto 3</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas hic
                  velit,
                  repellendus, unde commodi, molestiae ex amet corrupti voluptates voluptatem ipsa vitae deleniti
                  cum facere
                  culpa quia at. Minima!</p>
                <a href="http://..." target="_blank" class="btn btn-outline-danger btn-sm">¡No te lo pierdas!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
