<!--Navbar-->
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <img src="../assets/IMG/APLogo.png" alt="LogoAP" class="w-25" href="/Mod-2---Maquetado-Estatico/Src/index.html">
    <!--Social-->
    <ul class="list-group list-group-horizontal d-flex justify-content">
      <li class="list-group-item"><a href="https://www.linkedin.com/in/emiliaalegre/" target="_blank"><i
            class="fa-brands fa-linkedin fa-3x text-white"></i></a></li>
      <li class="list-group-item"><a href="https://github.com/MariaEmiliaAlegre" target="_blank"><i
          class="fa-brands fa-square-github fa-3x text-white"></i></a></li>
      <li class="list-group-item">
        <!--Boton que envia Login-->
  <button class="btn btn-white" data-bs-toggle="modal" data-bs-target="#loginModal">
  <i class="fa-solid fa-user-lock fa-3x text-white"></i>
  </button>
      </li>
    </ul>
  </div>
</nav>


<!-- Login -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Inicio Sesión</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Usuario</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Ingresar</button>
      </div>
    </div>
  </div>
</div>
