<section>
    <div class="educacion">
      <h3>EDUCACIÓN</h3>
    </div>
    <div class="row">
      <div class="col-6">

        <!--Entrada-->
        <div class="d-flex justify-content-between mb-2">
          <div class="d-flex justify-content">
            <div class="logo1"></div>
            <img src="../assets/IMG/argprog.jpg" class="img-fluid" alt="edu1" style="width: 60px; height: 60px"
              class="align-self-start" />
            <div class="mx-3">
              <h4>Argentina Programa: #YoProgramo</h4>
              <p class="my-0">#YoProgramo es un curso de la segunda etapa de Argentina Programa en el que adquirí las habilidades y herramientas para convertirte en una programadora web full-stack junior.<br>Módulo uno: Introducción a desarrollo web y aplicaciones<br>Módulo dos: Front End estático<br>Módulo tres: Front End - Desarrollo Web Dinámico<br>Módulo cuatro: Bases de datos<br>Módulo Cinco: POO - Buenas prácticas de programación<br>Módulo Seis: Backend - Java EE parte I<br>Módulo Siete: Backend - Java EE parte II<br>Módulo Ocho: Backend - Java Spring boot<br>Módulo Nueve: Dev Ops</p>
              <p class="text-secondary">Julio 2022 - Enero 2023</p>
            </div>
          </div>
        </div>

        <!--Entrada-->
        <div class="d-flex justify-content-between mb-2 mt-3">
          <div class="d-flex justify-content">
            <div class="logo2"></div>
            <img src="../assets/IMG/codoacodo1.jpg" class="img-fluid" alt="..." style="width: 60px; height: 60px"
              class="align-self-start" />
            <div class="mx-3">
              <h4>Full Stack - Desarrollo Web (Codo a Codo Inicial)</h4>
              <p class="my-0">CODO A CODO<br>Me brindó las herramientas para que me faciliten en la inserción laboral en el sector Informático (IT), desde la Agencia de Aprendizaje a lo largo de la vida me especializo en habilidades tecnológicas, para pasar a la segunda etapa y desarrollarme en el área de la programación.</p>
              <p class="text-secondary">Julio 2022 - 20 Semanas</p>
            </div>
          </div>
        </div>

        <!--Entrada-->
        <div class="d-flex justify-content-between mb-2 mt-3">
          <div class="d-flex justify-content">
            <div class="logo3"></div>
            <img src="../assets/IMG/bam.png" class="img-fluid" alt="..." style="width: 60px; height: 60px"
              class="align-self-start" />
            <div class="mx-3">
              <h4>BA Multiplica</h4>
              <p class="my-0">Microsoft Powerpoint y desarrollo del pensamiento creativo<br>Microsoft Excel y análisis de datos<br>Programación, diseño Web y pensamiento lógico formal<br>
                Linkedin y búsqueda de empleo<br>Igualdad de género en ámbitos laborales<br>Taller de reflexión sobre la construcción social de la problemática del consumo<br>
                Empleo verde y sustentabilidad en el ámbito laboral</p>
              <p class="text-secondary">Agosto 2022 - Octubre 2022</p>
            </div>
          </div>
        </div>

        <!--Entrada-->
        <div class="d-flex justify-content-between mb-2 mt-3">
          <div class="d-flex justify-content">
            <div class="logo4"></div>
            <img src="../assets/IMG/argprog.jpg" class="img-fluid" alt="..." style="width: 60px; height: 60px"
              class="align-self-start" />
            <div class="mx-3">
              <h4>Argentina Programa: #SéProgramar</h4>
              <p class="my-0">#SéProgramar es un curso introductorio en el que aprendí los fundamentos básicos de la programación para dar mis primeros pasos en el mundo tecnológico.<br>Módulo uno: Fundamentos<br>Módulo dos: Programación imperativa<br>Módulo tres: Programación con Objetos<br> Una vez que los aprobé, seguí un curso de la segunda etapa de Argentina Programa #YoProgramo para continuar con mi trayecto formativo.</p>
              <p class="text-secondary">Octubre 2021 - Enero 2022</p>
            </div>
          </div>
        </div>

        <!--Entrada-->
        <div class="d-flex justify-content-between mb-2 mt-3">
          <div class="d-flex justify-content">
            <div class="logo5"></div>
            <img src="../assets/IMG/utn.jpg" class="img-fluid" alt="..." style="width: 60px; height: 60px"
              class="align-self-start" />
            <div class="mx-3">
              <h4>Tecnica Superior en Relaciones Laborales</h4>
              <p class="my-0">Universidad Tecnologica Nacional</p>
              <p class="text-secondary">2010 - 2014</p>
            </div>
          </div>
        </div>

        <!--Entrada-->
        <div class="d-flex justify-content-between mb-2 mt-3">
          <div class="d-flex justify-content">
            <div class="logo6"></div>
            <img src="../assets/IMG/universidadpopular.jpg" class="img-fluid" alt="..." style="width: 60px; height: 60px"
              class="align-self-start" />
            <div class="mx-3">
              <h4>Ingles Basico</h4>
              <p class="my-0">Universidad Popular (Resistencia/Chaco)</p>
              <p class="text-secondary">Abril 2015 - Octubre 2017</p>
            </div>
          </div>
        </div>
      </div>

      <!--Certificaciones-->
      <div class="col-6 mt-5 text-center">
        <div class="certificaciones" class="img-fluid">
          <h3>Certificaciones</h3>
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="1000">
                <img src="../assets/IMG/argentina_programa_febrero_abril_2022_page-0001.jpg" class="w-75" alt="...">
              </div>..
              <div class="carousel-item" data-bs-interval="2000">
                <img src="../assets/IMG/Certificado-BaMultiplica_Curso 45_02_page-0001.jpg" class="w-75" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../assets/IMG/Diploma_02122022_page-0001.jpg" class="w-50" alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>
